.App {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url('https://cdn.pixabay.com/photo/2015/07/02/10/46/ice-edge-828966_960_720.jpg');
  /*background-repeat: no-repeat;*/
  background-position: bottom;
  min-height: 300px;
}
body{
  background-color: rgb(132,159,204);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.StartButton{
  width: 40%;
}
.ActivePage{
  background-color: grey;
  width: 80%;
}
.Page{
  height: auto;
  width: 20px;
  background-color: rgba(97,218,251,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border:1px violet solid;
}